.grid {
  display: flex;
  flex-flow: row wrap;
  height: 624px;
  width: 728px;
  background-color: grey;
}
.square {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 2px;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}